<section id="projects" class="bg-gray-100 pt-20 pb-12">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold text-gray-800 mb-8">Mes Projets</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      <div class="bg-white p-6 rounded-lg shadow-md">
        <div class="flex justify-center items-center space-x-2">
          <img src="images/One-Click-Black.png" alt="OneClick-logo" class="w-8 h-8 rounded">
          <h3 class="text-xl font-semibold text-gray-800">OneClick</h3>
        </div>
        <p class="text-gray-600 mt-2">Développement en cours d'une solution d'initialisation de projet automatique avec choix des technologies, des dépendances et des environnements
        pour simplifier le développement.</p>
        <a target="_blank" class="text-blue-500 mt-4 inline-block hover:underline">Coming soon</a>
      </div>
    </div>
  </div>
</section>
