<nav class="fixed top-0 left-0 w-full bg-gray-800 p-4 z-50 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo ou nom du site -->
    <div class="text-white text-2xl font-bold hidden md:block">Paul FRIDRICK</div>

    <!-- Avatar, visible uniquement sur les petits écrans -->
    <img src="images/logo PF Solutions.jpg" alt="Avatar" class="w-10 h-10 rounded-full block md:hidden">

    <!-- Bouton pour ouvrir le menu mobile -->
    <div class="block md:hidden">
      <button (click)="isMenuOpen = true" class="text-white focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>

    <!-- Liens de navigation pour les grands écrans -->
    <ul class="hidden md:flex md:space-x-6 text-white">
      <li>
        <a (click)="scrollToSection('presentation')" class="hover:text-gray-400 transition duration-300">Présentation</a>
      </li>
      <li>
        <a (click)="scrollToSection('skills')" class="hover:text-gray-400 transition duration-300">Skills</a>
      </li>
      <li>
        <a (click)="scrollToSection('projects')" class="hover:text-gray-400 transition duration-300">Projects</a>
      </li>
      <li>
        <a (click)="scrollToSection('contact')" class="hover:text-gray-400 transition duration-300">Contact</a>
      </li>
    </ul>

    <!-- Liens dans le menu mobile -->
    <div *ngIf="isMenuOpen" class="fixed inset-0 bg-gray-800 text-white p-6">
      <button (click)="isMenuOpen = false" class="absolute top-4 right-4 text-gray-400 hover:text-white">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
      <ul class="space-y-8 text-center text-xl">
        <li>
          <a (click)="scrollToSection('presentation')" class="hover:text-gray-400 transition duration-300">Présentation</a>
        </li>
        <li>
          <a (click)="scrollToSection('skills')" class="hover:text-gray-400 transition duration-300">Skills</a>
        </li>
        <li>
          <a (click)="scrollToSection('projects')" class="hover:text-gray-400 transition duration-300">Projects</a>
        </li>
        <li>
          <a (click)="scrollToSection('contact')" class="hover:text-gray-400 transition duration-300">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
