name: CI - Deploy OneClick API

on:
  workflow_run:
    workflows: ["CI - Build API Docker Image"]
    types:
      - completed
    branches:
        - master

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to Server
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          envs: GHCR_TOKEN=${{ secrets.GHCR_TOKEN }}
          script: |
            echo "Deploying Portfolio..."
            cd /opt/portfolio
            echo "Pulling latest Docker image..."
            docker compose pull
            echo "Starting updated containers..."
            docker compose up -d
            echo "Deployment completed successfully."