name: CI - Build API Docker Image

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
            context: .
            push: true
            tags: |-
              ghcr.io/${{ github.actor }}/portfolio:latest
              ghcr.io/${{ github.actor }}/portfolio:${{ github.sha }}
